<div class="helper-links" :class="{'logged-in': token}">
    <div>
        <span class="icon"></span>
        <div class="link-text">
            <span>{{ $t('help') }}</span>
            <a class="secondary" href="tel:+37499766664">+374 99 76 66 64</a>
        </div>
    </div>
    <div id="personal-page" v-if="token">
        <span class="icon"></span>
        <div class="link-text" >
            <span>{{ $t('your') }}</span>
            <span class="secondary"> {{ $t('personalPage') }}</span>
            <ul class="personal-page-dropdown"> 
                <router-link tag="li" to="/orders">
                    <a>{{ $t('myOrders') }}</a>
                </router-link>
                <router-link tag="li" to="/profile">
                    <a>{{ $t('editProfile') }}</a>
                </router-link>
                <router-link tag="li" to="/change-password">
                    <a>{{ $t('changePasswordTitle') }}</a>
                </router-link>
            </ul>
        </div> 
    </div>
    <div v-if="token"  @click="$router.push({name:'Cart'})">
        <span class="icon"></span>
        <div class="link-text">
            <span style="margin-top: 12px;">{{ $t('cart') }}</span>
        </div>
        <div class="cart-info">{{ cartItems.length }}</div>
    </div>
</div>