.spacer-1 {
    height: 20px;
}
.forgot-pass-link {
    font-size: 12px;
    color: #3c3c3c;
    padding: 10px 0 11px;
    text-transform: initial;
    display: inline-block;
    cursor: pointer;
} 
.spinner {
    position: absolute !important;
    top: -19px;
    left: 45%;
}
.btn-submit {
    margin-top: 18px;
}