<div class="products-main">
  <h3 class="product-category-title">{{ categoryName }}</h3>
  <Preloader v-if="isLoading" class="prelaoder"></Preloader>
  <div class="product-items" v-else>
    <router-link class="product-item"   
        :to="product.href"  
        v-for="(product,index) in productList" :key="index">
        <img :src="product.image">
        <div class="product-descr">
            <span class="product-name">{{ product.name }}</span> 
            <div class="product-pricing" v-html="product.short_description"> 
            </div>
        </div>
    </router-link> 
  </div>
</div>