<div class="sliders-place noselect projects-slider-container">
     
  <div  v-carousel v-if="projects.length>0">
    <div class="box"  
        @click="openPopup(index)" 
        v-for="(item, index) in projects" :key="index">
        <img class="open-popup-link mfp-prevent-close" 
            :src="item.thumbnail" 
            :alt="item.title"> 
      </div> 
  </div>   
   
  <CarouselPopup 
      v-if="dialogTableVisible"
      :index="index"  
      :items="projects"
      @close="dialogTableVisible=false">
  </CarouselPopup>

</div>
