<div class="action">
  <ul class="action-btns">
    <li class="price-bold">{{ item.price}}</li>
    <li class="btn-links" @click="deleteCartItem(item.id)">{{ $t('delete') }}</li>
    <li class="btn-links" @click="$router.push({name:'Categories', params: {id:1}})">{{ $t('addNew') }}</li> 
  </ul>
 <!--  <el-popover placement="top-start" width="250" trigger="hover">
    <h2 class="popover-title">{{ item.name }}</h2>
     <a slot="reference" class="btn-submit btn-white">{{ $t('name') }}</a>
  </el-popover> -->
</div>