<div class="products-main">
  <div class="bordered-block br-cart">
    <h3 class="product-category-title">{{ $t('signup.create_personal_page') }}</h3>
    <div class="product-details-inner">
      <div class="sign-up-top">
        <p>{{ $t('signup.info1') }}:
          <br>{{ $t('signup.info2') }}:
        </p>
      </div>
      <form v-on:submit.prevent="onSubmitSignup" 
            @submit="$v.first_name.$touch();$v.last_name.$touch();$v.email.$touch();$v.password.$touch();$v.passwordConfirm.$touch();$v.phone.$touch();">
        <div class="sign-up-bottom">
          <div class="left">
            <table class="table-2">
             <tbody>
                <tr>
                    <td>{{ $t('signup.first_name') }}</td>
                    <td>
                      <el-input 
                        v-model="first_name" 
                        :class="{'has-error': $v.first_name.$error}">
                      </el-input>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t('signup.last_name') }}</td>
                    <td>
                      <el-input 
                        v-model="last_name" 
                        :class="{'has-error': $v.last_name.$error}">
                      </el-input>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t('signup.company') }}</td>
                    <td>
                      <el-input 
                        v-model="company_name">
                      </el-input> 
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t('signup.email') }}</td>
                    <td>
                      <el-input 
                        v-model="email" 
                        :class="{'has-error': $v.email.$error}">
                      </el-input>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t('signup.password') }}</td>
                    <td>
                      <el-input type="password" 
                        :placeholder="$t('signup.info9')" 
                        v-model="password" 
                        :class="{'has-error': $v.password.$error}">
                      </el-input>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t('signup.confirm_password') }}</td>
                    <td>
                      <el-input type="password" 
                        v-model="passwordConfirm"  
                        :placeholder="$t('signup.info9')" 
                        :class="{'has-error': $v.passwordConfirm.$error}">
                      </el-input>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t('signup.birthday') }}</td>
                    <td class="custom-picker">
                      <el-date-picker type="date" 
                        v-model="birthday_at"  placeholder="" 
                        :picker-options="pickerOptions1">
                      </el-date-picker>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t('signup.phone') }}</td>
                    <td class="custom-picker">
                        <el-input type="text" 
                          v-model="phone" 
                          :class="{'has-error': $v.phone.$error}">
                        </el-input> 
                    </td>
                  </tr>
             </tbody>
            </table>
          </div>
          <div class="right"> 
            <div class="list-container">
              <ul>
                <li>
                  <!-- <span>Հայտեր ստանալ</span>  -->
                  <el-checkbox class="checkbox" v-model="receive_promotions">{{ $t('signup.info3') }}:</el-checkbox>
                </li>
                <li>
                  <!-- <span>Պայմաններ եւ դրույթներ</span> -->
                  <el-checkbox class="checkbox" v-model="agree">{{ $t('signup.info4') }}:</el-checkbox>
                </li>
              </ul>
            </div>
            <vue-recaptcha class="recaptcha-element" 
              sitekey="6LcGJ1YUAAAAAJ2-9OwJPxB8KY1Jtc0OpXwFjglL" ref="recaptcha" 
              @verify="onVerify"
              @expired="onExpired">
            </vue-recaptcha>
            
            <p class="agreement-text">{{ $t('signup.info5') }}
              <i>{{ $t('signup.info6') }}</i> {{ $t('signup.info7') }}
            </p>
            
            <el-button class="btn-submit btn-invert" type="text" 
              @click="onSubmitSignup" 
              :disabled="!isFormValid"
              :loading="isLoading">{{ $t('signup.info8') }}
            </el-button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>