<section class="services-section" id="reasons-section">
    <div class="section-title-place">
        <div class="letter-divider">
            <h6>04</h6>
        </div>
        <h5>{{ $t('why.title') }}</h5>
        <span class="vert-line"></span>
    </div>
    <div class="services-inner flex-section boxes-type-2 active-services" id="service-boxes">
        <div class="services-box">
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service1.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service2.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service3.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service4.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service5.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service6.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service7.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service8.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service9.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service10.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service11.text') }}</p>
        </div>
        <div class="services-box" >
            <div class="box-image"></div> 
            <p class="box-text">{{ $t('services.service12.text') }}</p>
        </div>
    </div>
</section>