<div class="products-main">

  <Preloader class="prelaoder" 
    v-if="isLoading">
  </Preloader>

  <div v-if="product.properties && !isLoading">
      <div class="bordered-block">
          <h3 class="product-category-title">{{ product[0].name }}</h3>  
          <div class="product-details-inner" :class="{'single-image': product.images.length==1}">

            <ProductImages 
              :images="product.images">
            </ProductImages>

            <div class="product-detail-info">
              <p> {{ product[0].description }}
              </p>
              <div class="choices"> 

                <router-link class="btn-link" 
                    to="/custom-order">{{ $t('uploadOurselves') }}
                </router-link>  
                
              </div>
            </div>
          </div>
        </div>
        <div class="product-details-inner2" >
          <div class="left-block">

            <Uploader 
              :oneSide="isOneSide" 
              @filelistChange="onFileChange">
            </Uploader>

          </div>
          <div class="right-block">

            <div class="parameters-item"  
              v-for="(value, key) in product.sortedProperties">

              <h3 class="param-label">{{ value._key }}</h3>

              <el-select 
                v-model="value.selected" 
                :placeholder="$t('select')" 
                @change="onDropDownChange">

                <el-option 
                  v-for="(item, key) in value.options" 
                  :key="key" 
                  :label="item.name" 
                  :value="item.id">
                </el-option>

              </el-select>
            </div>
            <div class="summary-block" v-show="showPriceTotal && totalPrice">

              <h3 class="param-label">{{ $t('printingCost')}}:</h3>

              <p>{{ totalPrice }} </p>

            </div>

            <div class="btns-container">
                <a class="btn-submit btn-invert btn-1" 
                    v-show="isDirty"
                    @click="reset">{{ $t('reset')}}
                </a> 

                <el-button class="btn-submit btn-invert" type="text" 
                    v-show="showPriceTotal && totalPrice" 
                    :class="{disabled: !isDirty}"
                    @click="addProductToCart()" 
                    :disabled="isAddingToCart"
                    :loading="isAddingToCart">{{ $t('continue') }}
                </el-button>

            </div>
          </div>
        </div>
  </div> 
</div> 