.sign-up-top {
  width: 100%;
  padding-bottom: 32px;
  border-bottom: 1px solid #af995a;

  p {
    text-transform: uppercase;
    color: #484848;
    line-height: 23px;
  }
}

.btn-submit {
  margin-top: 30px;
}

.btn-links {
  cursor: pointer;
}
 
.el-input {
  width: 200px;
  padding-bottom: 10px;
}

.input-item {
  display: flex;
}

tr {
  td:first-child {  
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 8px;
    padding-right: 10px;
  }
}

.sign-up-bottom {
  padding-top: 40px;
  padding-bottom: 170px;
  display: flex;

  .left {
    margin-right: 56px
  }

  .right {
    tr {
      td:first-child {
        padding-bottom: 22px;
        width: 280px;
      }
    }
  }
}

.checked-input {
  padding-top: 11px;
}

.captcha-data {
  position: absolute;
  left: 0;
  bottom: -11px;
  font-family: Myriad Pro;
  color: #484848;
  font-weight: normal;
}

.agreement-text {
  text-transform: uppercase;
  padding-top: 30px;
  color: #a7a7a7;
  font-size: 12px;
  line-height: 20px;
  padding-top: 4px;
}

.btn-submit {
  float: left;
  width: 200px;
  margin-top: 18px;
}

i {
  font-style: normal;
  color: #af995a;
}

.list-container {
  display: flex;
  margin-bottom: 10px;

  ul:first-child {
    margin-right: 20px;
  }

  ul {
    li {
      line-height: 28px;
    }
  }

  span {
    width: 183px;
    display: inline-block;
  }
}

.recaptcha-element {
  padding-bottom: 11px;
  padding-top: 11px;
}

@media only screen and (max-width: 650px) {
  .sign-up-bottom {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 520px) {
  tr {
    display: flex;
    flex-wrap: wrap;
  }

  form, table,
  td, .el-input {
    width: 100%;
  }
 
  tr td:first-child {
    padding-bottom: 10px;
  }
  
  .sign-up-bottom { 
    >div {
      width: 100%;
    }
    .left {
      margin-right: 0;
    }
  }

  .sign-up-top {
    br {
      display: none;
    }
  }
  .btn-submit {
    width: 100%;
  }
  .list-container ul {
    margin-right: 0 !important;
  }
  .product-details-inner { 
    padding-bottom: 20px;
  }
}