<div class="products-main">
  <div class="bordered-block br-cart">
    <h3 class="product-category-title">{{ $t('changePasswordTitle') }}</h3>
    <div class="product-details-inner">
      <div class="sign-up-top">
        <p>{{ $t('signup.info1') }}:
          <br>{{ $t('signup.info2') }}:
        </p>
      </div>
      <form v-on:submit.prevent="changePassword"
            @submit="$v.password.$touch();$v.passwordConfirm.$touch();">
        <div class="sign-up-bottom">
          <div class="left">
            <table class="table-2">
              <tr>
                <td>{{ $t('signup.password') }}</td>
                <td>
                  <el-input type="password"
                    :placeholder="$t('signup.info9')"  
                    v-model="password" 
                    :class="{'has-error': $v.password.$error}">
                  </el-input>
                </td>
              </tr>
              <tr>
                <td>{{ $t('signup.confirm_password') }}</td>
                <td>
                  <el-input type="password" 
                    v-model="passwordConfirm" 
                    :placeholder="$t('signup.info9')" 
                    :class="{'has-error': $v.passwordConfirm.$error}">
                  </el-input>
                </td>
              </tr>
              <tr>
              <tr> 
                <td></td>
                <td>
                    <el-button class="btn-submit btn-invert" type="text" 
                      @click="changePassword" 
                      :disabled="!isFormValid"
                      :loading="isLoading">{{ $t('changePasswordTitle') }}
                    </el-button>
                </td>
              </tr> 
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
