<section class="about-us-section" id="section-about-us">
    <!-- <div class="logo-transparent"></div> -->
    <div class="large-triangle3 triangles"></div>
    <!-- <div class="large-triangle4 triangles"></div> -->
    <div class="large-triangle5 triangles"></div>
    <div class="section-title-place">
        <div class="letter-divider">
            <h6>02</h6>
        </div>
        <h5>{{ $t('aboutUs.title') }}</h5>
        <div class="foundation">
            <span class="himnadrum">{{ $t('aboutUs.established') }}</span>
            <span class="himnadrum-tari">2010</span>
        </div>
        <span class="vert-line"></span>
    </div>
    <div class="section-about-us-inner">
        <figure class="founder-info-left">
            <img src="../../../assets/img/founder.jpg" alt="Founder">
            <figcaption>
                <span class="tnoren-title">{{ $t('aboutUs.foundingDirector') }}</span>
                <br>
                <span class="tnoren-name">{{ $t('aboutUs.directorName') }}</span>
            </figcaption>
            <div class="erankyun"></div>
        </figure>
        <div class="founder-info-right">
            <p class="parag-1">{{ $t('aboutUs.par1') }}</p>
            <p class="parag-1">{{ $t('aboutUs.par2') }}
            </p>
            <p class="parag-1">{{ $t('aboutUs.par3') }}
            </p>
            <p>{{ $t('aboutUs.par4') }}</p>
        </div>
    </div>

    <Counters />

</section>