 .portfolio .main-section {
   min-height: 700px;
   margin-top: 68px;
 }

 .spinner {
  margin-top: 300px !important;
 }

 .main-section.content-area.is-visible {
   opacity: 1;
   visibility: visible;
   transition: opacity 0.45s ease-out;
 }

 .main-section.content-area {
   opacity: 0;
   visibility: hidden
 }

 .spacer {
   height: 20px;
   position: absolute;
   bottom: 0;
   width: 100%;
   background: transparent
 }

 .grid-item {
   width: 348px;
   height: 440px;
   overflow: hidden;
   cursor: pointer;
   position: relative;
   .item-bg {
     position: absolute;
     background-repeat: no-repeat; 
     overflow: hidden;
     width: 100%;
     height: 420px;
     top: 0;
     img {
       width: 100%;
     }
   }
   .shirma {
     opacity: 0;
   }
   &:hover {
     .item-title {
       transform: translateX(0);
     }
     .line {
       transform: translateX(0);
     }
     .shirma {
       opacity: 0.9;
     }
   }
   .item-title {
     font-size: 30px;
     color: #141414;
     text-align: right;
     padding: 48px 50px 10px;
     transform: translateX(450px);
     transition: transform 0.4s
   }
   .line {
     border-top: 1px solid #af995a;
     margin-top: 0;
     width: 200px;
     margin-left: 99px;
     transition: transform 0.5s;
     transform: translateX(-370px);
   }
 }

 .item-text-place {
   position: relative;
 }

 .shirma {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   width: 100%;
   height: 420px;
   background: white;
   transition: opacity 0.3s linear
 }

 .grid {
   .grid-item:nth-child(1),
   .grid-item:nth-child(3),
   .grid-item:nth-child(6),
   .grid-item:nth-child(8),
   .grid-item:nth-child(9),
   .grid-item:nth-child(11),
   .grid-item:nth-child(14),
   .grid-item:nth-child(16),
   .grid-item:nth-child(17),
   .grid-item:nth-child(19),
   .grid-item:nth-child(22),
   .grid-item:nth-child(24),
   .grid-item:nth-child(25),
   .grid-item:nth-child(27),
   .grid-item:nth-child(30),
   .grid-item:nth-child(32),
   .grid-item:nth-child(33),
   .grid-item:nth-child(35),
   .grid-item:nth-child(38),
   .grid-item:nth-child(40),
   .grid-item:nth-child(41),
   .grid-item:nth-child(43),
   .grid-item:nth-child(46),
   .grid-item:nth-child(48),
   .grid-item:nth-child(49),
   .grid-item:nth-child(50),
   .grid-item:nth-child(53),
   .grid-item:nth-child(55),
   .grid-item:nth-child(56),
   .grid-item:nth-child(58),
   .grid-item:nth-child(61),
   .grid-item:nth-child(63),
   .grid-item:nth-child(64),
   .grid-item:nth-child(66),
   .grid-item:nth-child(69),
   .grid-item:nth-child(71),
   .grid-item:nth-child(72),
   .grid-item:nth-child(74),
   .grid-item:nth-child(77),
   .grid-item:nth-child(79),
   .grid-item:nth-child(80),
   .grid-item:nth-child(82),
   .grid-item:nth-child(85),
   .grid-item:nth-child(87),
   .grid-item:nth-child(88),
   .grid-item:nth-child(90),
   .grid-item:nth-child(93),
   .grid-item:nth-child(95),
   .grid-item:nth-child(96),
   .grid-item:nth-child(98),
   .grid-item:nth-child(101),
   .grid-item:nth-child(103),
   .grid-item:nth-child(104),
   .grid-item:nth-child(106),
   .grid-item:nth-child(109),
   .grid-item:nth-child(111) {
     height: 370px;
     .shirma {
      height: 348px;
     }
   }
 }

 .grid {
   .grid-item:nth-child(1) .item-bg,
   .grid-item:nth-child(3) .item-bg,
   .grid-item:nth-child(6) .item-bg,
   .grid-item:nth-child(8) .item-bg,
   .grid-item:nth-child(9) .item-bg,
   .grid-item:nth-child(11) .item-bg,
   .grid-item:nth-child(14) .item-bg,
   .grid-item:nth-child(16) .item-bg,
   .grid-item:nth-child(17) .item-bg,
   .grid-item:nth-child(19) .item-bg,
   .grid-item:nth-child(22) .item-bg,
   .grid-item:nth-child(24) .item-bg,
   .grid-item:nth-child(25) .item-bg,
   .grid-item:nth-child(27) .item-bg,
   .grid-item:nth-child(30) .item-bg,
   .grid-item:nth-child(32) .item-bg,
   .grid-item:nth-child(33) .item-bg,
   .grid-item:nth-child(35) .item-bg,
   .grid-item:nth-child(38) .item-bg,
   .grid-item:nth-child(40) .item-bg,
   .grid-item:nth-child(41) .item-bg,
   .grid-item:nth-child(43) .item-bg,
   .grid-item:nth-child(36) .item-bg,
   .grid-item:nth-child(48) .item-bg,
   .grid-item:nth-child(49) .item-bg,
   .grid-item:nth-child(50) .item-bg,
   .grid-item:nth-child(53) .item-bg,
   .grid-item:nth-child(55) .item-bg,
   .grid-item:nth-child(56) .item-bg,
   .grid-item:nth-child(58) .item-bg,
   .grid-item:nth-child(61) .item-bg,
   .grid-item:nth-child(63) .item-bg,
   .grid-item:nth-child(64) .item-bg,
   .grid-item:nth-child(66) .item-bg,
   .grid-item:nth-child(69) .item-bg,
   .grid-item:nth-child(71) .item-bg,
   .grid-item:nth-child(72) .item-bg,
   .grid-item:nth-child(74) .item-bg,
   .grid-item:nth-child(77) .item-bg,
   .grid-item:nth-child(79) .item-bg,
   .grid-item:nth-child(80) .item-bg,
   .grid-item:nth-child(82) .item-bg,
   .grid-item:nth-child(85) .item-bg,
   .grid-item:nth-child(87) .item-bg,
   .grid-item:nth-child(88) .item-bg,
   .grid-item:nth-child(90) .item-bg,
   .grid-item:nth-child(93) .item-bg,
   .grid-item:nth-child(95) .item-bg,
   .grid-item:nth-child(96) .item-bg,
   .grid-item:nth-child(98) .item-bg,
   .grid-item:nth-child(101) .item-bg,
   .grid-item:nth-child(103) .item-bg,
   .grid-item:nth-child(104) .item-bg,
   .grid-item:nth-child(106) .item-bg,
   .grid-item:nth-child(109) .item-bg,
   .grid-item:nth-child(111) .item-bg {
     height: 348px;
   }
 }

 .grid {
   margin: 0 auto;
 }

 .portfolio-grid {
   max-width: 1450px;
   margin: 0 auto;
   min-height: 600px;
 }

 @media only screen and (max-width: 1470px) {
   .grid .grid-item:nth-child(3),
   .grid .grid-item:nth-child(5),
   .grid .grid-item:nth-child(8) {
     height: 348px;
   }
 }

 @media only screen and (max-width: 1236px) {
   .grid .grid-item:nth-child(3),
   .grid .grid-item:nth-child(5),
   .grid .grid-item:nth-child(8) {
     height: 348px;
   }  
   .design-dialog {
     width: 100%;
   }
   .imgs-container {
     width: 78%;
   }
   .navigation {
     width: 72%;
   }
   .info-container {
     width: 28%;
   }
 }


 @media only screen and (max-width: 1500px) {
   .grid {
     width: 1083px;
   }
   .is-scrolled .info-container { 
      margin-left: calc(100% - 266px);  
  }
 }

 @media only screen and (max-width: 1200px) {
   .grid {
     width: 716px;
   }
 }

 @media only screen and (max-width: 780px) {
   .grid {
     width: 348px;
   }
 }
